.image {
  max-width: 400px;
  max-height: 800px;
  margin: 40px auto 0 20px;
  object-fit: contain;
}
@media screen and (max-width: 400px) {
  .image {
    max-width: 300px;
    margin: 20px auto 0 0;
  }
}